@import 'styles/variables.scss';


.input {
    .input-label {
        width: 600px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        font-size: 120%;
        color: $main;

        a {
            color: $blue;
        }
    }
}