@import './variables.scss';


.app {
    position: relative;
    color: $main;
    font-size: 15px;
    font-weight: 400;
  
    a {
      text-decoration: none;
    }
}


@keyframes enter {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}